/* pages/login/login.wxss */
.login-container {
	width: 100vw;
	height: 100vh;
	background-color: #2586f2;
	display: flex;
	align-items: center;
	justify-content: center;


	.login-main {
		width: 500rpx;
    background-color: #fff;
    min-height: 550rpx;
    border-radius: 20rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		align-items: center;
		transform: translateY(-100rpx);
		padding: 50rpx 20rpx;
		
		.pic {
			width: 180rpx;
			height: 180rpx;
			font-size: 160rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #2586f2;
		}

		.title {
			font-weight: 500;
			font-size: 18px;
		}


		.form-group {
			display: flex;
			align-items: center;

			.label {
				margin-right: 20rpx;
				font-weight: 500;
			}


			input {
				font-size: 14px;
			}
		}

		.login-btn {
			background-color: #2586f2;
			margin: 30rpx 0;
			color: #fff;
			width: 350rpx;
			font-size: 28rpx;
		}
	}

}

.divider {
	width: 100%;
	border-top: 1rpx solid #ebedf0;
	margin: 20rpx 0;
}