/* pages/shop-manage/edit/edit.wxss */
.shop-edit {
  height: 100%;
  padding: 20rpx 20rpx 140rpx 20rpx;

  .form {

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .list {
        width: 100%;
        margin-bottom: 20rpx;
        .item {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #e8eaee;
					padding: 10rpx;
					box-sizing: border-box;

					&.project {
						padding: 20rpx;
					}
					
					.image {
            margin-right: 10px;
					}

          .name {
            color: #000;
            font-size: 30rpx;
            font-weight: 500;
          }

					.price {
						margin-left: 10px;
						color: red;
						font-weight: 500;
					}

          .control {
            margin-left: auto;
            width: 150rpx;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

.uploaderBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20rpx 32rpx;
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;

	text {
		color: #646566;
		font-size: 28rpx;
		margin-right: 40rpx;
	}
}

.btns {
  position: fixed;
  bottom: 40rpx;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-around;
	align-items: center;
  color: #fff;
  width: 90%;
  height: 70rpx;

	.save,
	.del {
		width: 250rpx;
		height: 100%;
		border-radius: 20px;
		font-size: 28rpx;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.save {
		background-color: #1490eb;
	}

	.del {
		background-color: #e1001b;
	}
}


.nav-bar {
	padding-top: 0 !important;
}

.popup-form {
	padding: 20rpx;
}

.value-class {
  flex: none !important;
}

.calendar {
	.label {
		margin-top: 20rpx;
	}

	.wrapper {
		display: flex;
	}
	
	.time-list {
		margin-left: 4px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		.time-item {
			width: 65px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #e8e8e8;
			margin-bottom: 8px;
			font-weight: 500;
			font-size: 14px;
			border-radius: 6px;

			&.active {
				color: #fff;
				background-color: #000;
			}

		}
	}
}

.sidebar {
	width: 100px !important;
}

page {
	--sidebar-padding: 10px 6px 10px 8px;
}